numpy==1.24.4
scikit-image
trimesh
opencv-python
pyrender
tensorboardX
git+https://github.com/facebookresearch/detectron2.git@v0.4#egg=detectron2
git+https://github.com/hassony2/multiperson.git@master#subdirectory=neural_renderer&egg=neural-renderer-pytorch
git+https://github.com/facebookresearch/pytorch3d.git@stable#egg=pytorch3d
